body {
  margin: 0;

  font-family: 'Merriweather', serif;

  background-color: #fff3e2;
}

h1,
h3,
h4,
h5,
h6 {
  color: #232320;
  font-family: 'Montserrat', sans-serif;
}

h1.hidden {
  display: none;
}

p {
  color: #707070;
  line-height: 2;
}

.Big_Heading {
  font-size: 4.5rem;
  margin-bottom: 0px;
  color: #232320;
  font-family: 'Sacramento', cursive;
}

.Subtitle {
  color: #232320;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.footer1 {
  color: #232326;
  font-family: Merriweather;
  font-size: 1.5rem;
  margin-top: 2%;
  font-weight: 500px;
}

.top-container {
  position: relative;
  margin-top: 2%;
  text-align: center;
}

.beta2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 70em;
  height: auto;
}

a:hover {
  color: #968c83;
}

/* Navigation Bar */

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #232320;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #232320;
  font-weight: 400;
}

@media (max-width: 850px) and (max-width: 1000px) {
  .carousel-inner {
    padding-top: 5%;
  }

  .Subtitle {
    color: #232320;
    font-size: 0.7rem;
    font-weight: normal;
  }

  .Big_Heading {
    padding-top: 40%;
    font-size: 3.5rem;
  }

  .footer1 {
    color: #232326;
    font-family: Merriweather;
    font-size: 1rem;
    margin-top: 7%;
  }
}

/* .portrait {
  height: 14.8rem;
  width: auto;
} */

.topBox {
  margin-top: 100px;
}

#main-header img {
  width: 100%;
  height: 100%;
}

.nameCol {
  padding-left: 0;
  padding-right: 0;
}

.portaitCol {
  padding-left: 0;
  padding-right: 0;
}

#main-header .port-item {
  width: 60%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
}

/* Drop down menu */

.fadeAway {
  font-size: 3.5em;
  margin-bottom: 0px;
  color: #fff8f0;
  font-family: 'Montserrat', serif;
  font-weight: lighter;
}

.fab {
  color: #fff8f0;
}

.bg-black {
  font-family: 'Comic';
  font-weight: 400;
  color: white;
  background: #f85f73;
}

.home0 {
  color: white;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: x-large;
}
.home2 {
  color: white;
  font-family: 'Montserrat', serif;
}

.jobTitle {
  color: #fff8f0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  font-size: 1.1em;
}
.jobTitle1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  font-size: 0.8em;
}

.dropHeader {
  color: #232320;
  font-weight: 400;
  font-size: 1.475em;
  font-family: 'Montserrat', sans-serif;
}

.dropHeader2 {
  color: #fff8f0;
  font-weight: 400;
  font-size: 1.475em;
  font-family: 'Montserrat', sans-serif;
}

.myWork {
  color: white;
  font-weight: 400;
  font-size: 1.875em;
  font-family: 'Montserrat', sans-serif;
}

.resume {
  color: white;
  font-weight: 400;
  font-size: 1.875em;
  font-family: 'Montserrat', sans-serif;
}

.icon1 {
  color: #251812;
}

.icon2 {
  color: #fff8f0;
}

.icon3 {
  color: #fff8f0;
}
.icon4 {
  color: #fff8f0;
}

p1 {
  color: #232320;
  font-family: 'Montserrat', sans-serif;
}

p2 {
  color: #fff8f0;
  font-family: 'Montserrat', sans-serif;
  font-family: 1em;
}

.footColor {
  background-color: #251812;
}

.dropHome {
  background-color: #fbe8d3;
}

.primary1 {
  background-color: #a3d5ac;
}

.primary3 {
  background-color: #283c63;
}

.primary2 {
  background-color: #928a97;
}

/* Animations */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.9s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  font-size: 3.5em;
  margin-bottom: 0px;
  color: #fff8f0;
  font-family: 'Montserrat', serif;
  font-weight: lighter;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 2.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-22 20:8:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.color-change-2x {
  -webkit-animation: color-change-2x 9s linear infinite alternate both;
  animation: color-change-2x 9s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #f85f73;
  }
  100% {
    background: #be79df;
  }
}
@keyframes color-change-2x {
  0% {
    background: #f85f73;
  }
  100% {
    background: #be79df;
  }
}
